.home__container {
  /* max-width: 1200px; */
  padding: 0 16px;

  /* margin: 5px auto 25px auto; */
}
.home__description {
  font-size: 20px;
  line-height: 1.5;
  text-indent: 50px;

  margin-bottom: 20px;
}
